<%- include('../include/head.ejs') %>
</head>
<body>
    <%- include('../include/navigation.ejs') %>

    <main class="container">
        <h1>404! Page not Found.</h1>
    </main>


<%- include('../include/footer.ejs') %>