<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/info.css">
</head>
<body>
    <%- include('../include/navigation.ejs') %>

    <main class="container">
        <div class="card">
            <div class="details">
                <h2>Owner Details</h2>
                <h3>Full Name: <span>Anil Kumar Shaw</span></h3>
                <h3>Email: <span>anilshaw025@gmail.com</span></h3>
                <h3>Contact Number: <span>9784790675</span></h3>
                <h3>Location: <span>Bangalore, India</span></h3>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.9644223111336!2d77.61951691435434!3d13.037936616947938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1764f348d541%3A0x66e06635f19ac94f!2sZolo%20Epic!5e0!3m2!1sen!2sin!4v1590583407475!5m2!1sen!2sin" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </main>


<%- include('../include/footer.ejs') %>