<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <%- include('../include/navigation.ejs') %>

    <main class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.indiatoday.in/news.html"><img src="img/indiatoday.png"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.thehindu.com/news/"><img src="img/hindu.png"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.hindustantimes.com/india-news/"><img src="img/ht.jpg"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.rediff.com/news"><img src="img/rediff.jpg"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://edition.cnn.com/"><img src="img/cnn.png"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.bbc.com/news"><img src="img/bbc.png"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://economictimes.indiatimes.com/configspace/etmain_static/content/defaultinterstitial.html"><img src="img/et.png"></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="firstnews">
                        <a href="https://www.moneycontrol.com/stocksmarketsindia/"><img src="img/mcntrl.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

    </main>


<%- include('../include/footer.ejs') %>