<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/support.css">
</head>
<body>
    <%- include('../include/navigation.ejs') %>

    <main class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="cont">
                        <h1>Contact</h1>
                        <p>You can Contact us only in Indian Standard office time (10:00 - 20:00)</p>
                        <p>You can also mail us any time, our team will respond as soon as possible</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="help">
                        <h1>Donate</h1>
                        <p>You can Donate us using the contact number via upi.</p>
                        <p>All details are mention in the info section. go and check the all details and help us.</p>
                    </div>
                </div>
            </div>

        </div>
        
    </main>


<%- include('../include/footer.ejs') %>